<div class = "movie-box" data-id=<%=movie.id%>>
  <div class = "movie-box-poster">
    <%= image_tag(movie.det_poster_url) %>
  </div>
  <div class = "movie-box-title">
    <%= movie.title %>
  </div>
  <div class = "movie-votes">
    <strong>Votes: <%= @votes[movie.id] %></strong>
  </div>
  <ul class = "movie-votes-names">
    <% @vote_names[movie.id].each do |voter| %>
      <li><%=  voter %></li>
    <% end %>
  </ul>
  <div class = "movie-box-critics-score collapsed">
    Tomato Score: <%= movie.rt_critics_score %>
  </div>
  <div class = "movie-box-mpaa-rating collapsed">
    <%= movie.mpaa_rating %>
  </div>
</div>