<div class = "movie-box" data-id=<%=movie.id%>>
  <div class = "movie-box-poster">
    <%= link_to( image_tag(movie.det_poster_url), "#", data: { id: movie.id } ) %>
  </div>
  <div class = "movie-box-title">
    <%= movie.title %>
    <a href="#"><span class="enqueue-movie-button" data-id=<%=movie.id%>><i class="fa fa-plus-square"></i></span></a>
  </div>

  <ul class = "movie-box-info collapsed">
    <li><%= movie.runtime %> minutes</li>
    <li>(<%= movie.mpaa_rating %>)</li>
  </ul>

  <ul class = "movie-box-scores collapsed">
    <li>Critics: <%= movie.rt_critics_score %>%</li>
    <li>Audience: <%= movie.rt_audience_score %>%</li>
  </ul>
</div>
