<h3 class="movie-preview-title">
  <%= @movie.title %>
</h3>

<ul class="movie-preview-info">
  <li class="movie-preview-mpaa-rating">(<%= @movie.mpaa_rating %>)</li>
  <li class="movie-preview-runtime"><%= @movie.runtime %> minutes</li>
</ul>

<ul class="movie-preview-scores">
  <li>Critics: <%= @movie.rt_critics_score %>%</li>
  <li>Audience: <%= @movie.rt_audience_score %>%</li>
</ul>

<p class="movie-preview-synopsis">
  <%= @movie.synopsis  %>
</p>
