<div class = "movie-list">
  <% @movies.each do |movie| %>
    <%= render '/movies/movie-container', movie: movie %>
  <% end %>
</div>



<%= simple_form_for @survey do |f| %>
  <%= f.input :info %>
  <%= f.input :location_info %>
  <%= f.button :submit %>
<% end %>