<div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
  <%= image_tag "ninja.svg", { id: 'logo'}%>
  <%= link_to "Movie Ninja", root_path, class: "pure-menu-heading" %>
  <ul>
    <% if signed_in? %>
      <% if request.fullpath == new_survey_path %>
        <li><a href="#" id="toggle-sidebar-link"><i class="fa fa-bars" id="toggle-sidebar-button"></i></a></li>
      <% end %>
      <li><%= button_to "Logout", session_path(current_user), class: 'pure-button', id: 'logout-button', method: :delete %></li>
    <% else %>
      <li><button class="pure-button" data-toggle="modal" href="#myModal" id="login-button">Login</button></li>
    <% end %>
  </ul>
</div>

<% unless signed_in? %>
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <h2 id="myModalLabel">Sign In / Sign Up</h2>
    </div>

    <div class="modal-body pure-g">
      <div class="pure-u-1-2">
        <%= render partial: "layouts/signup", locals: {user: @user} %>
      </div>
      <div class="pure-u-1-2">
        <%= render partial: "layouts/signin", locals: {user: @user} %>
      </div>
    </div>

    <div class="modal-footer">
      <button class="pure-button" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
<% end %>