<!DOCTYPE html>
<html>
<head>
  <title>MovieNinja</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<% if signed_in? %>
  <%= button_to "logout", session_path(current_user), method: :delete %>
<% else %>
  <%= render partial: "layouts/signup", locals: {user: @user} %>
  <%= render partial: "layouts/signin", locals: {user: @user} %>
<% end %>

<body>

<%= yield %>

</body>
</html>
