<!DOCTYPE html>
<html>
<head>
  <title>MovieNinja</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>



<% if signed_in? %>
  <%= link_to "logout", session_path(current_user), method: :delete %>
<% else %>
    <%= form_for @user do |f| %>
      <%= f.text_field :email, placeholder: 'email' %>
      <%= f.password_field :password, placeholder: 'password' %>
      <%= f.submit 'Sign Up' %>
    <% end %>

    <%= form_for @user, url: sessions_path do |f| %>
      <%= f.text_field :email, placeholder: 'email' %>
      <%= f.password_field :password, placeholder: 'password' %>
      <%= f.submit 'Sign In' %>
    <% end %>
<% end %>


<body>


<%= yield %>

</body>
</html>
